.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    margin: 0;
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 100px;

        .description {
            //background-color: rgb(49, 49, 49);
            padding: 100px;
            .desc {
                font-family: Manrope;
                display: inline-flex;
                justify-content: space-between;
                padding-top: 1.5rem;
            }

            .socials {
                margin-top: 40px;

                .links .icon {
                    font-size: 3rem;
                    fill: snow;
                    padding: 3px;
                    transition: fill 0.3s ease-in-out;

                    &:hover {
                        fill: cyan;
                    }
                }
            }
        }

        .carousel-grid {
            margin: auto 150px;
            width: 200px;
            justify-content: center;

            .carousel {
                border-radius: 25px;

                .carousel-card {
                    padding: 10px;
                    background-color: rgba(46, 46, 46, 0.521);

                }
            }

        }
    }
}