.main-navbar {
    position: sticky;
    top: 10px;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
    margin: auto;
    padding-inline: 10px;
    padding-block: 5px;
    box-sizing: border-box;

    .icon-link {
        display: inline-block;
        width: 6rem;
        height: 6rem;
        margin-right: 250px;

        .icon-img {
            // font-size: 2.5rem;
            margin-right: 10rem;
            mix-blend-mode: color-dodge;
            background-color: rgb(148, 148, 148);
            width: 6rem;
            height: 6rem;
            color: white;
            display: block;
            border-radius: 50%;
            box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.342);
            transition: box-shadow 0.3s ease-in-out, background-color 0.5s ease-in-out;

            &:hover {
                box-shadow: 0 0 10px 2px rgb(255, 255, 255);
            }
        }
    }

    .main-navbar-right {
        display: flex;

        .navbar-links {
            display: flex;
            letter-spacing: 0.6px;
            margin-right: 10px;

            .link {
                color: azure;
                transition: color 0.3s ease-in-out;

                .link-btn {
                    font-family: 'Chakra Petch';
                    font-weight: bold;
                    color: azure;
                    background-color: rgb(78, 78, 78);
                    outline: 0;
                    border-radius: 5px;
                    box-shadow: 5px -2px 3px 1px rgba(180, 180, 180, 0.699);
                    margin: 10px;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.1s ease-in-out;

                }

                .link-btn:hover {
                    background-color: rgba(190, 190, 190, 0.144);
                    color: rgb(173, 173, 173);
                    box-shadow: 0px 0px 3px 1px rgba(180, 180, 180, 0.699);
                }
            }

            .link.active .link-btn {
                background-color: rgba(155, 155, 155, 0.877);
                color: rgb(0, 0, 0);
                box-shadow: 5px 5px 3px 1px rgba(109, 109, 109, 0.699);
            }

            .link:hover {
                color: rgb(167, 167, 167);
            }

        }
    }

    .dark-light-toggle {

        .switch-btn {
            position: relative;
            display: inline-block;
            width: 6rem;
            height: 6rem;
            margin-left: 250px;
            padding: 0.8rem;
            border-radius: 50%;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: rgba(197, 197, 197, 0.13);
            }

        }

    }


}

body.light-mode {
    .main-navbar {
        .icon-link {
            .icon-img {
                background-color: rgb(132, 132, 132);
                box-shadow: 0 0 10px 2px rgba(78, 78, 78, 0.564);
                transition: box-shadow 0.3s ease-in-out, background-color 0.5s ease-in-out;

                &:hover {
                    box-shadow: 0 0 10px 2px rgb(20, 20, 20);
                }
            }
        }

        .navbar-links {
            .link {
                .link-btn {
                    color: rgb(47, 47, 47);
                    box-shadow: 5px -2px 3px 1px rgba(110, 110, 110, 0.699);
                    background-color: rgb(141, 141, 141);
                    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
                }

                .link-btn:hover {
                    background-color: rgba(44, 44, 44, 0.144);
                    color: rgb(255, 255, 255);
                    box-shadow: 0px 0px 3px 1px rgba(43, 43, 43, 0.975);
                }
                
            }
            .link.active .link-btn {
                background-color: rgba(121, 121, 121, 0.877);
                color: rgb(248, 248, 248);
                box-shadow: 5px 5px 3px 1px rgba(65, 65, 65, 0.699);
            }

        }
    }

}