.timeline-container{
    display:flex;
    flex-direction: column;
    position:relative;
}
.timeline-container::after {
    background-color: #00f7ff;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
    transition: background-color 0.3s ease-in-out;
}
body.light-mode{
    .timeline-container::after{
        background-color: #ff4000;
        transition: background-color 0.3s ease-in-out;
    }
}