.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
    .timeline-item-content {
        box-shadow: 0 0 5px rgba(155, 155, 155, 0.584);
        color: rgb(255, 255, 255);
        background-color: rgb(62, 62, 62);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 25px;
        position: relative;
        width: 400px;
        max-width: 100%;
        text-align: right;
        right:27px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        
        h2{
            font-size: 1.5rem;
            font-weight: 700;
            margin: 15px -5px 15px;
        }
        .tag{
            font-size: 12px;
            color:white;
            font-weight: bold;
            top: 5px;
            left: 5px;
            letter-spacing: 1px;
            padding: 5px;
            position: absolute;
            text-transform: uppercase;
        }
        .time{
            font-size: 12px;
            font-weight: bold;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            margin: 15px 0;
            max-width: 250px;
        }
        .timeline-links{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .link{
                font-size: 14px;
                color:rgb(255, 255, 255);
                font-weight: bold;
                text-decoration: none;
                transition: color 0.20s ease-in-out;
                &:hover{
                    color: rgb(0, 0, 0);
                }
            }
            .link::after{
                content: ' ►';
                font-size:12px;
            }
           

        }
       &:hover{
        background-color: rgb(82, 82, 82);
        color: rgb(255, 255, 255);
       }
       &::after{
        content: ' ';
        background-color: rgb(62, 62, 62);
        box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
        position: absolute;
        right: -7.5px;
        top: calc(50% - 7.5px);
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
        transition: background-color 0.3s ease-in-out;
    
       }
       &:hover::after{
        background-color: rgb(82, 82, 82);
       }
    }
    .circle{
        background-color: #fff;
        border: 3px solid #00f7ff;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 14px);
        right: 17px;
        width: 20px;
        height: 20px;
        z-index: 100;
        transition: border 0.3s ease-in-out;
    }
  
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
    .timeline-item-content {
        text-align: left;
        align-items: flex-start;
        left:27px;

        .tag{
            left:auto;
            right: 5px;
        }
       
        .circle {
            right: auto;
            left: -40px;
        }
        
    }
    .timeline-item-content::after {
        right: auto;
        left: -7.5px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .circle{
        top: calc(50% - 10px);
        left:17px;
    }
  
}
body.light-mode{
    .timeline-item{
        .timeline-item-content{
            color:black;
            background-color: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.515);
            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
            &:hover{
                background-color: rgb(201, 200, 200);
            }
            &::after{
                background-color: rgb(255, 255, 255);
                transition: background-color 0.3s ease-in-out;
               }
            &:hover::after{
                background-color: rgb(201, 200, 200);
            }
            .link{
                color:black;
                &:hover{
                    color:white;
                }
            }
          
        }
        .circle{
            border: 3px solid #ff4000;
            transition: 0.3s border ease-in-out;
        }
    }
}