.footer{
    .footer-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
        .footer-links{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5px;
            
            .icon{
                font-size: 2rem;
                color: white;
                transition: color 0.3s ease-in-out;
                &:hover{
                    color: #00d9ff;
                }
            }
        }
    }
}
body.light-mode{
    .footer{
        .footer-container{
            .icon{
                color: rgb(0, 0, 0);
                &:hover{
                    color: #ff4000;
                }
            }

        }
    }
}